body {
  background-color: #F2E6FF;
}

header {
  background-color: #F0F8FF;
  border: 6px solid purple;
  margin: 6px auto;
  padding: 9px;
  width: 870px;
  text-align: center;
  Font-family: Changa serif;
  color: #FFDD33;
}

h1 {
  display: block;
  font-size: 4.5em;
  margin: 0 auto;
}

h2 {
  display: block;
  font-size: 3.2em;
  font-weight: bold;
  margin: 0;
}

.myclassname {
   width:1000px;
   margin: 0 auto;
}


.myclassname img {
  margin: 0 auto;
  height: 500px;
}

.myclassname p {
 margin: 0 auto;

}
