body  {
    background-image: url(images/abstractshape.jpg);
    text-align: center;
    display: block;
margin: 8px;


}


h1   {
text-align: center;
  font-family: inherit , sans-serif;
  color: #BFFFB3;
  font-size: 80px;
  padding: 25px;
  text-align: center;
  margin-left: 320px;
  margin-right: 320px;
  border-radius: 480px;
  background-color: #5D8AA8;

}

#SVGLogo  {
    width: 300px;
    animation: zoom 5.0s;
    transform-origin: left top;
    translate(300px, 0);

}

nav li {
font-size: 50px;


}


@keyframes  zoom {
  0% { transform: scale(.1) translate(0,0) }
  100% { transform: scale(1.0) translate(300px, 0) }
}



#SVGLogo {
  opacity: 1;
  transition: all 1s linear;
  border: 1px solid red;
}

#SVGLogo:hover {
  /* fill: red; */
  opacity: .8;
  transform: scale(3);
}

#SVGLogo {
  width: 500px;
  display: block;
}



#M {
  animation: mfade 1.0s;
}

@keyframes mfade {
  0%   { transform: translate(0, -200px);}
  100% { transform: translate(0, 0);}
}

#I {
  animation: ifade 1.0s;
  transform-origin: right top;
}

@keyframes ifade {
  0%   { transform: scale(0.1);}
  100% { transform: scale(1.0);}
}

#S {
  animation: sfade 1.0s;
  transform-origin: center;
}

@keyframes sfade {
  0%   { transform: rotate(360deg);}
  100% { transform: rotate(0deg);}
}

#S-2 {
  animation: sfade 1.0s;
  transform-origin: center;
}

@keyframes sfade {
  0%   { transform: rotate(-360deg);}
  100% { transform: rotate(0deg);}
}

#H {
  animation: ifade 1.0s;
  transform-origin: left top;
}

@keyframes ifade {
  0%   { transform: scale(0.1);}
  100% { transform: scale(1.0);}
}

#A {
  animation: mfade 1.0s;
}

@keyframes mfade {
  0%   { transform: translate(0, -200px);}
  100% { transform: translate(0, 0);}
}

#P {
  animation: hfade 1.0s;
}

@keyframes hfade {
  0%   { transform: translate(0, 200px);}
  100% { transform: translate(0, 0);}
}

#E {
  animation: ifade 1.0s;
  transform-origin: right top;
}

@keyframes ifade {
  0%   { transform: scale(0.1);}
  100% { transform: scale(1.0);}
}

#N {
  animation: nfade 1.0s;
}

@keyframes nfade {
  0%   { transform: translate(0, 200px);}
  100% { transform: translate(0, 0);}
}


#slide1 {
  overflow: hidden;
}

#slide1 img {
  transition: all .25s;
  position: relative;
  animation: circle1-ani 4s linear infinite;
}

#slide1:hover img {
  transform: scale(1.1);
}

@keyframes circle1-ani {
  0%   { opacity: .5; left:0px }
  100% { opacity: .5; left: 1000px; }
}
