

h1 {
    font-family: condor, sans-serif;
    color: white;
    font-size: 70px;
    text-align: center;
    margin-left: 300px;
    margin-right: 300px;
    border-radius: 500px;
    background-color: #e01600;
    animation: back-ani 10s linear infinite;
}

0% {
    background-color: #e01600;
}
25% {
    background-color: #fcba03;
}
50% {
    background-color: #0aa8fc;
}
100% {
    background-color: #e01600;
}
