body {

}

h1 {
    font-family: condor, sans-serif;
    color: white;
    font-size: 70px;
    text-align: center;
    margin-left: 300px;
    margin-right: 300px;
    border-radius: 500px;
    background-color: #e01600;
    animation: back-ani 10s linear infinite;
}

@keyframes back-ani {
  0%   {background-color:#ff0000;}
  50%  {background-color:#0000ff;}
  100% {background-color:#ff0000;}
}

.circle1 {
  position: absolute;
  top: 0;
  left: 0;
  width: 500px;
  height: 500px;
  border-radius:500px;
  opacity: .5;
  background-color: #600;
  animation: circle1-ani 1s linear infinite;
}

@keyframes circle1-ani {
  0%   { opacity: .5; left:1000px }
  100% { opacity: .5; left: 0px; }
}

0% {
    background-color: #0aa8fc;
}
50% {
    background-color: #fcba03;
}

100% {
    background-color: #e01600;
}


h2 {
  display: inline-block;
  width:

}

img {
  display: inline-block;
     width: 500px;
  transform: translate()
}

.hz {
  display: inline-block;

}

.desc {
  display: inline-block;

}

#slide1 {
  width: 500px;
  overflow: hidden;
}

#slide1 img {
  width: 500px;
  transition: all .25s;
}

#slide1:hover img {
  transform: scale(1.1);
}

#slide2 {
  width: 500px;
  overflow: hidden;
}

#slide2 img {
  transition: all .25s;
}

#slide2:hover img {
  transform: rotate(360deg);
}

#slide3 {
  width: 500px;
}

#slide3 img {
  transition: .1s all;
}

#slide3:hover img {
  filter: blur(10px);
}
