body {
  background-image: url(image/space.jpg);
animation: back-ani 10s linear infinite;
}

h1 {
    font-family:  fangsong, sans-serif;
    color: #B3B3FF;
    font-size: 80px;
    padding: 14px;
    text-align: center;
    margin-left: 320px;
    margin-right: 320px;
    border-radius: 480px;
    background-color: #E6EAFF;
}

@keyframes back-ani {
  0%   {background-color:#ff0000;}
  50%  {background-color:#0000ff;}
  100% {background-color:#ff0000;}
}

.circle1 {
  position: absolute;
  top: 0;
  left: 0;
  width: 500px;
  height: 500px;
  border-radius:500px;
  opacity: .5;
  background-color: #600;
  animation: circle1-ani 1s linear infinite;
}

@keyframes circle1-ani {
  0%   { opacity: .5; left:1000px }
  100% { opacity: .5; left: 0px; }
}

0% {
    background-color: #0aa8fc;
}
50% {
    background-color: #fcba03;
}

100% {
    background-color: #e01600;
}


h2 {
  display: inline-block;
  font-size: 50px;
text-align: center;
width: 500px;
}

img {
  display: inline-block;
     width: 400px;
  transform: translate()

}

.hz {
  display: inline-block;
  width: 500px;
  font-size: 30px;

}

.desc {
  display: inline-block;
  width: 500px;
  font-size: 30px;

}

#slide1 {
  overflow: hidden;
}

#slide1 img {
  transition: all .25s;
  position: relative;
  animation: circle1-ani 4s linear infinite;
}

#slide1:hover img {
  transform: scale(1.1);
}

#slide2 {
  overflow: hidden;
}

#slide2 img {
  transition: all .25s;
}

#slide2:hover img {
  transform: rotate(360deg);
}

#slide3 {
    overflow: hidden;
}

#slide3 img {
  transition: .1s all;
}

#slide3:hover img {
  filter: blur(10px);
}
